.aboutSidebar {
    position: fixed;
    top: 0;
    right: -600px;  /* Start off-screen */
    width: 600px;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: white;
    box-shadow: -10px 0 50px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-in-out;  /* Ensure transition happens */
    z-index: 1000;
  }
  
  .aboutSidebar.active {
    transform: translateX(-600px);  /* Slide in from the right */
  }